@font-face {
    font-family: "Gulfs Display";
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff2') format('woff2');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff') format('woff');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:inherit
}

.oculto {
    display: none;
}

.gulfs {
    font-family: "Gulfs Display";
}

.decoracion {
    position: absolute;
}

/* 
-----------------------------------------------------------------------------
ANIMACIONES GENERALES
-----------------------------------------------------------------------------
*/

.boton:hover {
    filter: brightness(0.87);
    cursor: pointer;
}

.hyper:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
} 

/*  I DON'T KNOW HOW WORKS THIS ANIMATION */
.boton:active {
    animation: pressButton 0.2s ease;
}

@keyframes pressButton {
    0% { transform: scale(1); }
    50% { transform: scale(0.88); }
    100% { transform: scale(1); }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes twinkle {
    0%, 100% {
      opacity: 0.2;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
}

@keyframes twinkle-and-move {
    0%, 100% {
      opacity: 0.2;
      transform: scale(0.8) translate(0, 0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2) translate(2px, -2px);
    }
}

@keyframes tilt {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

/* 
-----------------------------------------------------------------------------
SECCIONES DE LA PAGINA
-----------------------------------------------------------------------------
*/

#seccion-inicial {
    height: 75vh;
    background-color: #F1B4D6;
    border-bottom: 2px solid black;
}

#seccion-nosotros {
    background-color: #FFF35F;
}

#seccion-galeria {
    background-color: orangered;
}

#seccion-precios {
    background-color: aliceblue;
}

#seccion-contacto {
    background-color: #F1B4D6;
}

/* 
-----------------------------------------------------------------------------
BOTÓN DE NAVEGACIÓN 
-----------------------------------------------------------------------------
*/

.boton-navegacion {
    position: absolute;
    background-color: #F1B4D6;
    margin: 2% 1%;
    right: 1%;
    border: 2px solid black;
    border-radius: 50%;
    border-right: 4.5px solid black;
    border-bottom: 4.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-navegacion #icono-rayas-menu {
    height: 62%;
}

.boton-navegacion #icono-equis-menu {
    height: 80%;
}

#icono-equis-menu {
    display: none;
}

#checkbox-menu:checked ~ .boton-navegacion #icono-rayas-menu {
    display: none;
}

#checkbox-menu:checked ~ .boton-navegacion #icono-equis-menu {
    display: inline;
}


#checkbox-menu:checked ~ .boton-navegacion {
    filter: brightness(0.87);
}

/* 
-----------------------------------------------------------------------------
MENU DE NAVEGACIÓN 
-----------------------------------------------------------------------------
*/

#checkbox-menu:not(:checked) ~ .menu-navegacion {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px); /* Optional: add a slide effect */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition setup */
}

#checkbox-menu:checked ~ .menu-navegacion {
    pointer-events: auto;   
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition setup */
}

#checkbox-menu {
    display:none;
}

.menu-navegacion {
    position: absolute;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 4fr);
}

.item {
    grid-column: 2 / 3;
}

.icono-nav {
    width: 7vw;
    padding-right: 2vw;
}

.menu-navegacion .gulfs {
    font-size: clamp(6px, 5vw, 40px);
}

/* 
-----------------------------------------------------------------------------
TITULO E IMAGENES SECCION INICIAL
-----------------------------------------------------------------------------
*/

#seccion-inicial h1 {
    position: relative;
    color: #1357EB;
    text-align: center;
    font-weight: 500;
    z-index: 1;
}

#seccion-inicial .caja-imagen {
    position: relative;
    border: 2px solid black;
    border-radius: 40vw;
    overflow: hidden;
}

.circulo-sonriente {
    animation: spin 7s linear infinite;
}
/* 
-----------------------------------------------------------------------------
BOTÓN DE CHAT 
-----------------------------------------------------------------------------
*/

.boton-chat {
    position: fixed;
    margin: 2% 1%;
    width: clamp(48px, 13vw, 80px);
    height: clamp(48px, 13vw, 80px);
    bottom: 1%;
    right: 1%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFF35F;
}

.boton-chat p {
    font-weight: 600;
    font-family: sans-serif;
}

/* 
--------------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------------
*/

@media (max-width: 500px) {

    #seccion-inicial {
        height: clamp(390px, 10vw, 410px);
    }

    #seccion-nosotros {
        height: clamp(300px, 10vw, 400px);
    }

    .menu-navegacion {
        right: clamp(60px, 1vw, 70px);
        top: clamp(55px, 1vw, 80px);
    }

    .menu-navegacion .gulfs {
        font-size: clamp(0.6rem, 4vw, 3rem);
    }

    .boton-navegacion {
        width: clamp(60px, 1vw, 70px);
        height: clamp(60px, 1vw, 70px);
    }

    .boton-chat {
        width: clamp(70px, 1vw, 80px);
        height: clamp(70px, 1vw, 80px);
    }

    #seccion-inicial h1 {
        font-size: clamp(2.2rem, 11vw, 3rem);
        top: clamp(165px, 40vw, 300px);
        line-height: 2rem;
    }

    #seccion-inicial .caja-imagen {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        top: clamp(150px, 15vw, 1040px);  
        margin: auto;      
    }

    #imagen-principal {
        width: clamp(245px, 15vw, 746px);
    }

    .estrella1 {
        top: clamp(192px, 1vw, 20px);
        left: clamp(15px, 1vw, 20px);
        width: clamp(20px, 1rem, 30px);
        animation: twinkle-and-move 2.5s infinite ease-in-out 0.4s;    }

    .rayo {
        top: clamp(270px, 1vw, 300px);
        right: clamp(5px, 1vw, 20px);
        width: clamp(50px, 1rem, 30px);
        animation: tilt 2s ease-in-out infinite;
    }

    .estrella2 {
        top: clamp(322px, 1vw, 20px);
        right: clamp(15px, 1vw, 20px);
        width: clamp(18px, 1rem, 30px);
        animation: twinkle-and-move 2.5s infinite ease-in-out 0.4s;
    }

    .estrella3 {
        top: clamp(300px, 1vw, 20px);
        left: clamp(5px, 1vw, 20px);
        width: clamp(30px, 1rem, 30px);
        animation: twinkle-and-move 2.5s infinite ease-in-out 0.4s;
    }

    .circulo-sonriente {
        top: clamp(510px, 1vw, 20px);
        left: clamp(65px, 1vw, 65px);
        width: clamp(88px, 1rem, 90px);
    }

    .boton1 {
        top: clamp(630px, 1vw, 20px);
        left: clamp(5px, 1vw, 20px);
        width: clamp(40px, 1rem, 30px);
    }

    .boton1:hover {
        animation: pressButton 0.5s ease;    
    }

    .boton2:hover {
        animation: pressButton 0.5s ease;
    }
    
    .boton2 {
        top: clamp(630px, 1vw, 20px);
        right: clamp(5px, 1vw, 20px);
        width: clamp(40px, 1rem, 30px);
    }

    .boton-chat p {
        font-size: clamp(1.1rem, 3vw, 1.2rem);
    }
}
