@font-face {
    font-family: "Gulfs Display";
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff2') format('woff2');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff') format('woff');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:inherit
}

.oculto {
    display: none;
}

.gulfs {
    font-family: "Gulfs Display";
    letter-spacing: clamp(1px, 2vw, 3px);
    line-height: clamp(25px, 1vw, 30px);
}

/* 
-----------------------------------------------------------------------------
ANIMACIONES GENERALES
-----------------------------------------------------------------------------
*/

.boton:hover {
    filter: brightness(0.87);
    cursor: pointer;
}

/*  I DON'T KNOW HOW WORKS THIS ANIMATION */
.boton:active {
    animation: pressButton 0.2s ease;
}

@keyframes pressButton {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.rotar:hover::before {
    transform: rotate(360deg);
}
/* 
-----------------------------------------------------------------------------
SECCIONES DE LA PAGINA
-----------------------------------------------------------------------------
*/

#seccion-inicial {
    height: 60vh;
    background-color: #F1B4D6;
}

#seccion-nosotros {
    height: 100vh;
    background-color: #FFF35F;
}

#seccion-galeria {
    height: 70vh;
    background-color: orangered;
}

#seccion-precios {
    height: 160vh;
    background-color: aliceblue;
}

#seccion-contacto {
    height: 100vh;
    background-color: #F1B4D6;
}

/* 
-----------------------------------------------------------------------------
BOTÓN DE NAVEGACIÓN 
-----------------------------------------------------------------------------
*/

.boton-navegacion {
    position: absolute;
    background-color: #F1B4D6;
    margin: 2% 1%;
    width: clamp(60px, 9vw, 80px);
    height: clamp(60px, 9vw, 80px);
    right: 1%;
    border: 2px solid black;
    border-radius: 50%;
    border-right: 4.5px solid black;
    border-bottom: 4.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-navegacion img {
    height: 62%;
    width: 62%;
}

#checkbox-menu:checked ~ .boton-navegacion {
    filter: brightness(0.87);
}

/* 
-----------------------------------------------------------------------------
MENU DE NAVEGACIÓN 
-----------------------------------------------------------------------------
*/

#checkbox-menu:not(:checked) ~ .menu-navegacion {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px); /* Optional: add a slide effect */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition setup */
}

#checkbox-menu:checked ~ .menu-navegacion {
    pointer-events: auto;   
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition setup */
}

.menu-navegacion {
    position: absolute;
    top: clamp(80px, 12vw, 110px);
    right: clamp(70px, 12vw, 110px);
}

#primero::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(20px, 5vw, 30px); /* Set the width of the image */
    height: clamp(20px, 5vw, 30px); /* Set the height of the image */
    right: clamp(122px, 5vw, 150px);
    background-image: url('../img/heart.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#segundo::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(20px, 5vw, 30px); /* Set the width of the image */
    height: clamp(25px, 5vw, 30px); /* Set the height of the image */
    right: clamp(122px, 5vw, 150px);
    background-image: url('../img/estrella.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#tercero::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(25px, 3vw, 25px); /* Set the width of the image */
    height: clamp(20px, 3vw, 25px); /* Set the height of the image */
    right: clamp(118px, 23vw, 124px);
    background-image: url('../img/figura.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#cuarto::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(25px, 3vw, 28px); /* Set the width of the image */
    height: clamp(20px, 3vw, 30px); /* Set the height of the image */
    right: clamp(118px, 23vw, 124px);
    background-image: url('../img/polvora.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}


/* 
-----------------------------------------------------------------------------
BOTÓN DE CHAT 
-----------------------------------------------------------------------------
*/

.boton-chat {
    position: fixed;
    margin: 2% 1%;
    width: clamp(70px, 12vw, 100px);
    height: clamp(70px, 12vw, 100px);
    bottom: 1%;
    right: 1%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFF35F;
}

.boton-chat p {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 600;
    font-family: sans-serif;
}