#primero::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(20px, 5vw, 30px); /* Set the width of the image */
    height: clamp(20px, 5vw, 30px); /* Set the height of the image */
    right: clamp(122px, 5vw, 150px);
    background-image: url('../img/heart.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#segundo::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(20px, 5vw, 30px); /* Set the width of the image */
    height: clamp(25px, 5vw, 30px); /* Set the height of the image */
    right: clamp(122px, 5vw, 150px);
    background-image: url('../img/estrella.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#tercero::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(25px, 3vw, 25px); /* Set the width of the image */
    height: clamp(20px, 3vw, 25px); /* Set the height of the image */
    right: clamp(118px, 23vw, 124px);
    background-image: url('../img/figura.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}

#cuarto::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    width: clamp(25px, 3vw, 28px); /* Set the width of the image */
    height: clamp(20px, 3vw, 30px); /* Set the height of the image */
    right: clamp(118px, 23vw, 124px);
    background-image: url('../img/polvora.svg'); /* Image for first item */
    background-size: contain; /* Resize to fit */
    background-repeat: no-repeat; /* Prevent repeating */
    transition: transform 0.5s ease;
}


    /* top: clamp(80px, 12vw, 110px);
    right: clamp(70px, 12vw, 110px); */